.book {
  &.font-size-2 .book-body .page-inner {
    section {
      font-size: 1.5rem;
    }
    pre {
      line-height: 1.2;
    }
  }
}

.book-summary {
  ul.summary li {
    ul {
      padding-left: 15px;
    }
    a, span {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}

.markdown-section {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
}
